form{
	width: 500px;
	margin:auto;
	padding: 20px;
	background: blue;
	font-size: 14px;
	font-family: verdana;
	color: white;
}


	.sb{
		border-radius: 10px;
		text-align:center;
		background-color:grey;
		border-color: black ;
		width:100px;
		height: 30px;
		font-size: 15px;
	}
